*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
misc.xml
*.hprof
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
Thumbs.db
.idea
build/
.navigation
captures/
output.json
obj/
*.jks
*.keystore
out/
.gradle/
proguard/
*.log
.navigation/
.idea/
.idea/libraries
.idea/caches
.idea/modules.xml
.idea/navEditor.xml
.cxx/
freeline.py
freeline/
freeline_project_description.json
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/readme.md
vcs.xml
lint/intermediates/
lint/generated/
lint/outputs/
lint/tmp/
app/release/output.json
.idea/codeStyles/